
body{
    
    
    margin-top: 100px;
    background-image: url(./green.jpg);
    opacity: 1;
    background-position: center;
    background-size: cover;
    
}


.container{
    
    width: 300px;    
    background-color: rgb(218, 186, 186);
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
    
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #d83912;
    display: none;
}

.notification p{
    color:rebeccapurple;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #5b6e6e;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #040405;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #0f1014;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #070708;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #08090c;
    text-align: center;
    font-size: 0.8em;
}

